 body {
   background-color: #f6f0ff;
}

#header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: pink;
  color: white;
  font-family: "Comic Sans MS";

  max-width: 800px;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 10px;
}

 #titre {
   text-align: center;
 }

.logo-laplateforme{
width: 10%
}

p {
  max-width: 800px;
  margin: 20px auto;
  text-align: justify;
  line-height: 1.6;
  font-size: 1.1rem;
  color: #333;
  font-family: 'Arial', sans-serif;
}

#HP-image{
 display: block;
  margin: 0 auto;
  width: 30%;
}


#titre{
justify-content: space around;
align-items: stretch;
}

#menu {
  display: flex;
  justify-content: center;
  gap: 40px;
}

#menu a {
  color: #6a1b9a;
  text-decoration: none;
  font-weight: bold;
  font-size: 1,9rem;
}

.button {
  display: inline-block;
  background-color: #6a1b9a;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ba68c8; /* couleur plus claire */
}

#button{
 display: flex;
 justify-content: center;
}