body {
   background-color: #f6f0ff;
   margin: 0;
       padding: 0;
       height: 100%;
}

#header-container{
  display: flex;
  justify-content: center;    /* centriranje sadržaja horizontalno */
  align-items: center;        /* vertikalno centriranje */
  background-color: pink;
  color: white;
  font-family: "Comic Sans MS";
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 10px;
  gap: 20px;                  /* razmak između logotipa i naslova */
}

 #titre {
  text-align: center;
}

 .logo-img{
  width: 70px;
  height: auto;
  display: block;
}

main {
    background-color: #e0d8ff;
    min-height: 100vh;
    width: 100%;
}

.main-image {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px;
    max-width: 100%;   /* ne prelazi širinu parenta */
    display: flex;
    justify-content: center; /* centriranje slike */
     border-radius: 10px;
     background-color: pink;
}

.main-image img {
    width: 100%;    /* slika zauzima širinu diva */
    height: auto;   /* čuva proporcije */
    display: block;
    border-radius: 10px;

}

nav {
display: flex;
justify-content: flex-start;
align-items: center;
gap: 15px;
margin-bottom: 40px;
padding-top: 25px;
padding-left: 20px;
font-size: 18px;
}

nav p{
font-weight: bold;
}

nav a {
color: black;
}

.titre{
justify-content: flex-start;
align-items: center;
font-family: Palatino, sans-serif;
margin-bottom: 40px;
padding-top: 25px;
padding-left: 25px;
padding-bottom: 13px;
}

.p1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  padding-left: 25px;
  font-family: "Comic Sans MS";
}

.p2 {
 display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  padding-left: 25px;
  font-family: "Comic Sans MS";
}

iframe {
  width: 100%;
  max-width: 560px;
  height: 315px;
  border: none;
  display: block;
  margin: 0 auto;
  padding-top: 30px;
   border: none;
}


