body {
    background-color: #f6f0ff;
    margin: 0;
    padding: 0;
    height: 100%;
}

#header-container{
    display: flex;
    justify-content: center;    /* centriranje sadržaja horizontalno */
    align-items: center;        /* vertikalno centriranje */
    background-color: pink;
    color: white;
    font-family: "Comic Sans MS";
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 10px;
    gap: 20px;                  /* razmak između logotipa i naslova */
}

 #titre {
    text-align: center;
}

 .logo-img{
    width: 70px;
    height: auto;
    display: block;
}

main {
    background-color: #e0d8ff;
    min-height: 100vh;
    width: 100%;
}

.h1{
    padding:60px;
    color:blue;
    text-align: center;
    font-size: 40px;
}

.main1 {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    max-width: 100%;       /* da kontejner ne prelazi širinu ekrana */
    flex-wrap: nowrap;
    padding: 0 20px;
}

.main1-text {
    color:white;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    padding-left: 25px;
    padding-right: 18px;
    font-family: "Comic Sans MS";
    line-height: 1.6;
    flex: 1 1 60%;
}

.main1-img {
    width:550px;
    height: auto;
    border-radius: 8px;
    display: block;
}

.img {
    width: 100%;
    padding-top:20px;
}

.main2-text {
    color:white;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    padding-left: 50px;
    padding-right: 40px;
    padding-top: 45px;
    font-family: "Comic Sans MS";
    line-height: 1.6;
    flex: 1 1 60%;
}

.ligne1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top:60px;
}

.ville {
    display:flex;
    flex-direction:column;
    width: 30%;
    align-items:center;
    }


.ville-img {
    width:50%;
}

.ville-img img {
    width: 100%;
}

.ville-p{
    color:blue;
    font-weight: bold;
    font-size: 24px;
}


.button {
    bottom: 20px;             /* razmak od dna */
    width: 15%;
    z-index: 1000;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color:white;
    background-color:red;
    padding: 10px 24px;          /* razmak unutar dugmeta */
    text-align: center;
    border: none;                /* bez ivice */
    border-radius: 8px;          /* blago zaobljeni uglovi */
    min-width: 150px;            /* širina da dugme izgleda ujednačeno */
    text-decoration: none;       /* bez podvlačenja */
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;             /* pokazivač kao ruka */
    margin: 20px;                /* malo prostora oko */
    transition: background-color 0.3s ease, transform 0.2s ease;
 }



